.arrowMain{
    position: absolute;
    right: 0;
    padding-right: 5px; 
    transition:transform 0.5s;
    cursor: pointer;
    width: 25px;
    height: 10px;
}

.arrowLeft {
    position: absolute;
    background-color: transparent;
    top: 8px;
    left: 0;
    width: 12px;
    height: 3px;
    display: block;
    transform: rotate(35deg);
    float: right;
    border-radius: 2px;
}
.arrowLeft:after {
    content: "";
    background-color: #020507;
    width: 12px;
    height: 3px;
    display: block;
    float: right;
    border-radius: 3px 5px 5px 3px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}
 
.arrowRight {
    position: absolute;
    background-color: transparent;
    top: 8px;
    left: 8px;
    width: 12px;
    height: 3px;
    display: block;
    transform: rotate(-35deg);
    float: right;
    border-radius: 2px;
}
.arrowRight:after {
    content: "";
    background-color: #020507;
    width: 12px;
    height: 3px;
    display: block;
    float: right;
    border-radius: 10px 6px 6px 10px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}

.arrowMain:hover .arrowRight:after {
    transform-origin: center center;
    transform: rotate(10deg);
}

.arrowMain:hover .arrowLeft:after {
    transform-origin: center center;
    transform: rotate(-10deg);
}


.arrowMain:active .arrowRight:after {
    transform-origin: center center;
    transform: rotate(-10deg);
}

.arrowMain:active .arrowLeft:after {
    transform-origin: center center;
   transform: rotate(10deg);
}

// //////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////
/// ///////////////////////////////////////////////////////////////////////////////////////////
/// 
/// CloseButton styles
/// 
/// 
.closeButton {
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  
  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
    transform: none;
    box-shadow: 
      inset 0 1px 2px rgba(255, 255, 255, 0.6),
      inset 0 -1px 2px rgba(0, 0, 0, 0.03),
      0 1px 2px rgba(0, 0, 0, 0.03);
  }
}

.crossMain {
  position: relative;
  width: 40%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crossLine1,
.crossLine2 {
  position: absolute;
  background-color: transparent;
  display: block;
  border-radius: 1px;
  transition: all 0.3s cubic-bezier(0.25, 1.7, 0.35, 0.8);
}

.crossLine1:after,
.crossLine2:after {
  content: "";
  background-color: #020507;
  display: block;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.crossLine1 {
  transform: rotate(45deg);
}

.crossLine2 {
  transform: rotate(-45deg);
}

/* Hover effects - крестик "расходится" */
.closeButton:hover .crossLine1 {
  transform: rotate(40deg);
}

.closeButton:hover .crossLine2 {
  transform: rotate(-40deg);
}



/* Active effects - крестик "сжимается" */
.closeButton:active .crossLine1 {
  transform: rotate(45deg);
}

.closeButton:active .crossLine2 {
  transform: rotate(-45deg);
}

