.input{
    color: red;
    border: none;
    width: 100%;
}

.input:focus{
  outline: none;
}


.search{
    border: solid 2px black;
    width: 30%;
}
.baseSearch{
    display: flex;
    position: relative;
    box-sizing: border-box;
}
.img{
    width: 20px;
    position: relative;
    right: 0;
}