.merchField{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    background-color: #fff;
}

.merchName{
    font-size: 20px;
}
.littlePrice{
    white-space: nowrap;
}
.merchLine{
    display: flex;
    height:90px;
    background-color: #fff;
    border-color: black;
}
.merchBuyLine{
       display: flex;
    height:130px;
    background-color: #fff;
    border-color: black;
}
.img{
    width: 100%;
    object-fit: contain;
    height:100%;
}
.buyImg{
    width: 100%;
    object-fit: contain;
}
.imgName{
    text-align: center;
}
.merchCount{
    position:absolute;
    width: 22px;
    height:22px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}
.merchWrap{
    position: relative;
    flex-shrink: 0;
    height: auto;
    flex-direction: column;
    display: flex;
    height:100%;
}
.discount{
    text-decoration: line-through;
    color :gray;
}
.colorLayout{
    border-radius:5px;
    background-color: #fff;
     position: relative;
    flex-shrink: 0;
    height: auto;
    flex-direction: column;
    display: flex;
    height:100%;
}

.discountMarker{
    position: absolute;
    bottom: 0;
    left:0;
    background-color: red;
    z-index: 200;
    color:white;
    border-radius: 200px ;
    padding: 5px;
}

.textContainer{
    display: grid;
    grid-template-rows: max-content minmax(0,1fr) max-content auto;
    flex-shrink: 0;
}
.mbwd{
    width:25%
}
@media(max-width:900px){
    .mbwd{
        width:33%
    }
}
@media(max-width:700px){
    .mbwd{
        width:50%
    }
}

.globalMerchField{
   
    margin-bottom: 10px;
}

.imageBlock{
    flex-shrink:1;
    position: relative; 
    height:"100%";
    min-height: 80%;
    background-color: #fff;
}
.deleteBtn{
    background: url("../../../public/bin.svg") center no-repeat;
    width: 30px;
    height: 30px;
    object-fit: contain;
}