.stickyDispetcherBlock{
    width:50px;
    height:50px;
    border-radius: 200px;
    z-index: 10;
    display: inline-block;
    cursor: pointer;
    /* position:sticky; */
    background-color: azure;
}
.dispetchers{
    bottom:100%;
    position:absolute;
    right:0;
    border-radius: 5px;
}

.dispetcherA{
    padding: 10px;
    display: block;
    text-decoration: none;

}
.linkBtn{
    width:40px;
    height:40px;
     background-color: azure;
     margin:10px;
    border-radius: 100%;
    display: flex;
}

.logo{
    width: 70%;
    height:70%;
    margin:auto
}
