.modalTable{
    background-color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 10px;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../../../fonts/Quicksand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.article{
    height:40px;
    display: flex;
}
.articleBtn{
    cursor: pointer;
   width: auto;
   height:100%
}
.articleText{
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25px;
    padding-right: 20px;
}
.articleHolder{
    display: flex;
    justify-content: space-between;
}
.leftPart{
    width:65%;
    flex-shrink: 0;
    height: 950px;
    padding-right: 10px;
}
th{
    padding: 5px;
    width: 30%;
}
.sizeLabel{
    width:50px;
    display: inline-block;
    height:50px;
    cursor: pointer;
}

.modalImageHolder{
    height:100%
}
.modalSlider{
    height:100%
}
.addToBascket{
    width: 100%;
    font-size: 20px;
    padding: 10px;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 5px;
    border:solid 2px black
}

.buyMerch{
    width: 100%;
    font-size: 30px;
    margin: 10px 0px;
}


.doubleInfoDropFirst{
    margin-top: 10px;
    background-color: #fff;
    border-bottom:solid 1px black;
}
.doubleInfoDropSecond{
    background-color: #fff;
    border-radius: 5px;
}



.merchName{
    font-family: "Quicksand";
    font-size:40px
}
@media (max-width:1200px) {
    .merchName{
        font-size:45px
    }
    
}
@media (max-width:1000px) {
    .merchName{
        font-size:40px
    }
    .leftPart{
        width:60%;
         height: 750px;
    }
    
}

@media (max-width:800px) {
    .leftPart{
        width:50%;
         height: 550px;
    }
    
}

.scrollStyle{
    border-radius: 15px;
}

.scrollContainer{
    width:80%;
    height:80%;
    border-radius: 15px;
    margin:auto;
}

.mainWrap{
    display: flex;
    margin:20px
}

.discountPrice{
    text-decoration: line-through;
    color: gray;
    padding-right:5px;
}

.discountPerce{
    color: red;
    padding-left:5px;
    font-size: 18px;
}

.controllPanel{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 10px;
}

