.deleteBtn{
    background: url("../../../public/bin.svg") center no-repeat;
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.btn{
    width: 300px;
    padding: 5px;
    margin-top: 15px;
}

.main{
    padding:5px
}
.emptyCart{
    margin:50;
    text-align: center;
    padding: 50px;
}