.priceBlock{
    border:solid 1px grey;
    text-align:center;
    padding: 10px;
    position: relative;
    width: 25%;
    flex-shrink: 0;
    box-sizing: border-box;
    cursor: pointer;
}

.priceHolder{
   display: flex;
   flex-wrap: wrap;
}
.priceWrapper{
    width: 20%;
 }

 .discountLabel{
  width:10px;
  height:10px;
  border-radius: 20px;
  background-color: red;
  position:absolute;
  top:10px;
  right:10px;
 }

  .storeLabel{
  width:10px;
  height:10px;
  border-radius: 20px;
  background-color: green;
  position:absolute;
  top:40px;
  right:40px;
 }

 .priceUnderline{
    position: absolute;
    bottom: 4px;
    width: 80%;
    height: 2px;
    background-color: silver;
    margin: auto;
    left: 0;
    right: 0;
 }

 .avelibleHolder{
   display:flex;
   justify-content: center;
 }
 .done{
   width:17px;
   margin-left:3px
 }
 .sizeHolder{
   font-weight: bold;
 }