.formInput{
    border-radius: 5px;
    padding: 10px 15px;
    border: solid 1px black;
    margin: 10px 0;
}

.combobox{
    border-radius: 5px;
    position: relative;
    display: block;
    width: 100%;
    margin: 10px 0;
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
    font-size: 18px;
    color: #60666d;
    box-shadow: inset 0 0 2px #040300;
}
.wrapper{
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
}

.bmf{
    width: 50%;
}

.infoBlock{
    border:solid 2px black;
    border-radius:4px;
    display: flex;
    justify-content:space-between;
    margin:10px 0;
    padding:10px;
}

.drop_list{
    
}

.btn{
    margin-top: auto;
    padding:5px
}

.payHeader{
    font-size: 22px;
}


.payHolder{
    border:solid 2px black;
    border-radius:4px;
    font-size: 22px;
}

.btn:hover{
    color:red
}

.fieldHolder{
    width: 50%;
}

.backBtn:hover{
   scale: 1.1;
}

.backBtn{
    transition: all 0.5s;
    font-size: 16px;
}

.mainButton{
   margin-left: auto;
 }
 .buttonHolder{
    position:relative;
    display:flex;
 }

 .mainHolder{
    margin: 10px;
 }