.modalTable{
    background-color: #f8f8f8;
    text-align: center;
    border-radius: 4px;
    padding: 10px;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../../../fonts/Quicksand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.leftPart{
    width:70%;
    flex-shrink: 0;
    height: 650px;
}
th{
    padding: 5px;
    width: 30%;
}


.addToBascket{
    width: 100%;
    font-size: 20px;
    padding: 10px;
    margin-top: 15px;
    background-color: #f8f8f8;
    border-radius: 5px;
    border:solid 2px black
}

.buyMerch{
    width: 100%;
    font-size: 20px;
}


.doubleInfoDropFirst{
    margin-top: 10px;
    background-color: #f8f8f8;
    border-bottom:solid 1px black;
}
.doubleInfoDropSecond{
    background-color: #f8f8f8;
    border-radius: 5px;
}



.merchName{
    font-family: "Quicksand";
    font-size:50px
}
@media (max-width:1200px) {
    .merchName{
        font-size:45px
    }
    
}
@media (max-width:1000px) {
    .merchName{
        font-size:40px
    }
    .leftPart{
        width:60%;
    }
    
}

@media (max-width:800px) {
    .leftPart{
        width:50%;
    }
    
}

.scrollStyle{
    border-radius: 15px;
}

.scrollContainer{
    width:80%;
    height:80%;
    border-radius: 15px;
    margin:auto;
}

.mainWrap{
    display: flex;
    margin:20px
}

.discountPrice{
    text-decoration: line-through;
    color: gray;
    padding-right:5px;
}

.discountPerce{
    color: red;
    padding-left:5px;
    font-size: 18px;
}

.controllPanel{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 10px;
}

