@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../fonts/OpenSansCondensed-Regular.eot');
    src: url('../fonts/OpenSansCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSansCondensed-Regular.woff2') format('woff2'),
        url('../fonts/OpenSansCondensed-Regular.woff') format('woff'),
        url('../fonts/OpenSansCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans Condensed'
}

.link{
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    box-sizing:content-box;
    cursor: pointer;
}
.back{
    background:
        linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
        linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
        linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  }

:global(.flex){
    display:flex
}

:global(.pdn){
    padding-left: 15px;
}

:global(.vrtCntr){
    margin-top: auto;
    margin-bottom: auto;
}
:global(.btnStyle){
    font-size: 20px;
    background-color: black;
    border-radius: 5px;
    color: white
}